doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/form.css')
  title Document
.container
  table.table
    h2.title OUR NEW USERS
    thead
      tr
        th FULLNAME
        th EMAIL
        th ROLE
        th PHONE
        th DOB
    tbody
    if allUsers.length 
    each user in allUsers
      tr
        td #{user.fullname}
        td #{user.email}
        td #{user.role}
        td #{user.phone}
        td #{user.DOB}
    else 
      p no produce yet :(